
# Secrets
.env

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Code coverage
/coverage/
/.nyc_output/
/instrumented-src/

# Local / OS
/package/
.DS_Store
